@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Lobster&family=Mochiy+Pop+P+One&display=swap");
*, *::after, *::before {
    box-sizing: border-box;
  }
body {
  background-color: cornsilk;
  padding: 0;
  margin: 0;
}
.board {
  display: grid;
  border: black;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  height: 100vh;
  margin-top: -10%;
}
h1 {
  color: blueviolet;
  text-align: center;
  margin-top: 20%;
  font-size: 40px;
  font-family: "Mochiy Pop P One";
  cursor: pointer;
}
.playerX {
  color: rgb(35, 142, 237);
}
.playerO {
  color: hotpink;
}
.display {
  text-align: center;
  margin-bottom: -20%;
  font-size: x-large;
  font-family: "lobster";
  /* position: fixed; */
}
.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  justify-items: center;
  align-items: center;
}
/* .win-page{
    background-color: black;
    color: white;
    justify-content: center;
    align-content: center;
} */

.win-page{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}
.score{
    position: absolute;
    top: 30%;
    right:35%;
    font-family:"Exo 2" ; 
    font-size: 1.3em;   
    
}
.cell:nth-child(n + 1) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}
#restart-btn {
  background-color: blueviolet;
  font-family: "Exo 2";
  font-size: 20px;
  border-radius: 8px;
  border: none;
  color: white;
  /* margin:0 auto; */
  padding: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#restart-btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hide {
  display: none;
}
.score p{
    display: inline;
}
.score{
    display: block;
    margin-left: auto;
    margin-left: auto;
}

div.playerO,
div.playerX{
    cursor:not-allowed;
}
.score .playerO{
    font-family: "lobster";
}
.score .playerX{
    font-family: "lobster";
}
.hide-ai{
    display: none;
}
